<div class="popup">
    <div>
        <h3>Your Score :</h3>
        <p>Speed: {{ data.userResult.speed }} wpm</p>
        <p>Total Words Typed: {{ data.userResult.totalWordsTyped }}</p>
        <p>Correct Words Typed: {{ data.userResult.correctWordsTyped }}</p>
    </div>
    <div *ngIf="data.opponentResult">
        <h3>Opponent's Score :</h3>
        <p>Speed: {{ data.opponentResult.speed }} wpm</p>
        <p>Total Words Typed: {{ data.opponentResult.totalWordsTyped }}</p>
        <p>Correct Words Typed: {{ data.opponentResult.correctWordsTyped }}</p>
    </div>
</div>