<div class="sidebar">
  <nav class="navbar navbar-light bg-primary text-white">
    Online Users: {{onlineUsers.length}}
  </nav>
  <ul class="list-group">
    <li *ngFor="let user of onlineUsers" class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <button class="btn btn-link p-0" (click)="challengeUser(user)" matTooltip="Send Challenge">
          <img [src]="user.profilePic" alt="{{ user.userName }}" class="user-icon rounded-circle mr-2">
        </button>
        <span>{{ user.userName }}</span>
      </div>
    </li>
  </ul>
</div>
